*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif !important;
}


.navbar .btn.sign-up {
    padding: 0 30px;
    background-color: #1572D3;
    color: white;
}

.navbar .btn.sign-up:hover {
    background-color: white;
    color: #1572D3;
    border: 1px solid #1572D3;
}

.navbar .btn.Sign-in {
    margin-right: 15px;
}

.navbar {
    padding-top: 20px;
}

.navbar .container-fluid {
    column-gap: 70px;
}

.navbar .nav-link {
    color: #000;
    margin: 0 10px;
    text-align: center;
    font-size: 18px;
}


/* .hero-section .hero-image{
    width: 60%;
    height: 500px;
    float: right;
} */

.hero-img {
    background-image: url('../img/hero-sec-image.png');

    height: 90vh;
    width: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 50px;
}

.hero-section {
    height: 100%;
    align-content: center;
}

.hero-section .title {
    height: 100%;
    width: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.hero-section .title h1 {
    font-size: 48px;
}

.hero-section .title p {
    font-size: 18px;
}

.hero-section .title span {
    color: #1572D3;
}

/* .hero-section{
    margin-bottom: 30px;
} */
.working-steps .title {
    text-align: center;
}

.working-steps .title .hiw {
    background-color: #E0EDFB;
    color: #1572D3;
    display: inline-block;
    height: 40px;
    width: 160px;
    text-align: center;
    align-content: center;

}

.working-steps .title h1 {
    margin: 30px 0 80px;
}

.working-steps .working-steps-content .card {
    border: none;
    align-items: center;
    row-gap: 20px;
}

.working-steps .working-steps-content .card .card-body {
    text-align: center;
    width: 300px;
}

.working-steps .working-steps-content .card .work-icon {
    background-color: #E0EDFB;
    color: #1572D3;
    font-size: 50px;
    align-content: center;
    width: 122px;
    height: 122px;
    text-align: center;
    border-radius: 16px;
}

.hero-info {
    margin: -180px 0;
}

.hero-info .card {
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.hero-info .card .info-icon {
    font-size: 30px;
    color: #B6B6B6;
}

.hero-info .card .info-content {
    display: flex;
    align-items: center;
    width: 100%;
    border-right: 1px solid #000;
    padding: 0 20px;

}

.hero-info .card .info-content:nth-child(3) {
    border-right: inherit;
}

.hero-info .card .info-content .content h6 {
    color: #3E3E3E;
    font-weight: 600;

}

.hero-info .card .info-content .content p {
    color: #B6B6B6;
    font-size: 14px;
    margin-bottom: 0;

}

.hero-info .card .search-btn .btn {
    background-color: #1572D3;
    color: #fff;
    width: 160px;
    height: 48px;
    border-radius: 8px;
}

.hero-info .card .search-btn .btn:hover {
    background-color: white;
    color: #1572D3;
    border: 1px solid #1572D3;
}

.hero-info .card .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brands {
    overflow: hidden;
    margin: 120px 0 200px 0;
}

.brands .brands-slider{
    /* padding: 25px; */
}

.brands .brands-slider .brand-img {
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.brands .brands-slider .brand-img img {
    aspect-ratio: 4 / 3;
    width: 40%;
    object-fit: contain;
}

.why-choose-us .title .wcu {
    background-color: #E0EDFB;
    color: #1572D3;
    display: inline-block;
    height: 45px;
    width: 170px;
    text-align: center;
    align-content: center;
}

.why-choose-us .title h1 {
    margin: 30px 0 80px;
}

.why-choose-us .info .wcu-icon {
    background-color: #E0EDFB;
    color: #1572D3;
    font-size: 26px;
    align-content: center;
    width: 64px;
    height: 64px;
    text-align: center;
    border-radius: 16px;
}

.why-choose-us {
    padding: 25px;
    background-image: url('/img/Group\ 29.png');
    height: 850px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 100px;
}


.why-choose-us .info p {
    color: #6D6D6D;
}

.why-choose-us .info {
    display: flex;
    column-gap: 25px;
    margin-bottom: 35px;
}

.popular-rental-deals .prd-title .prd {
    background-color: #E0EDFB;
    color: #1572D3;
    display: inline-block;
    height: 42px;
    width: 226px;
    text-align: center;
    align-content: center;
}

.popular-rental-deals .prd-title {
    text-align: center;
}

.popular-rental-deals .prd-title h1 {
    margin: 30px 0;
}


.popular-rental-deals .card .card-body .star {
    color: #EFBF14;
}

.popular-rental-deals .card .card-body span {
    color: #808080;
}

.popular-rental-deals {
    background-color: #fff;
    position: relative;
    z-index: 2;
}

.popular-rental-deals .card .card-body h6 {
    margin: 20px 0;
}

.popular-rental-deals .card {
    height: 100%;
    width: 100%;
    border: none;
    box-shadow: 0px 5px 10px rgba(16, 76, 139, 0.4);
}

.popular-rental-deals .card .image {
    width: 100%;
    height: 120px;
}

.popular-rental-deals .card .image img {
    width: 100%;
}

.popular-rental-deals .card .card-body {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.popular-rental-deals .card .card-body .performance {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    color: #959595;
    border-bottom: 1px solid;
}

.popular-rental-deals .card .card-body .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-rental-deals .card .card-body .rentNowBtn {
    text-align: center;
}

.popular-rental-deals .card .card-body .p-btn {
    height: 40px;
    width: 208px;
    background-color: #1572D3;
    color: white;
    border-radius: 8px;

}

.popular-rental-deals .card .card-body .p-btn:hover {
    background-color: white;
    color: #1572D3;
    border: 1px solid #1572D3;
}


.popular-rental-deals .card .card-body .card-content {
    margin-top: 18px;
}

.popular-rental-deals .row {
    row-gap: 60px;
}

.popular-rental-deals .all-vehicles-btn {
    width: 216px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    margin-bottom: 50px;
}

.popular-rental-deals .all-vehicles-btn:hover {
    border: 1px solid #E0E0E0;
}

.popular-rental-deals .col-lg-12 {
    text-align: center;
}

.download {
    background-image: url(/img/Vector.png);
    background-repeat: no-repeat;
    height: 490px;
    background-size: contain;
}

.download .download-title .dnld {
    background-color: #E0EDFB;
    color: #1572D3;
    display: inline-block;
    height: 42px;
    width: 146px;
    text-align: center;
    align-content: center;
}

.download .download-title span {
    color: #1572D3;
}


.download .download-title h1 {
    width: 470px;
}

.download .main-div {
    padding: 25px;
    height: 100%;

}


.download .download-all-content {
    margin-left: 70px;
    align-content: center;
    height: 100%;
}

.download .downloadBgImg {
    background-image: url(/img/iPhone-14-Pro.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: 50% center;
}

.footer {
    margin-top: 0;
    padding: 25px;
    background-color: #051C34;
}


.footer,
li {
    color: #D6D6D6;
}

.footer .list .social-icons {
    /* display: none; */
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer .list .social-icons i {
    font-size: 25px;
    cursor: pointer;
    color: #D6D6D6;
}




.footer .list h5 {
    margin-bottom: 20px;
    font-weight: 700;
}

.footer .list img {
    margin-bottom: 20px;
    width: 150px;
}

.footer .list li a {
    color: white;
    text-decoration: none;
}

.footer .list:first-child ul i {
    font-size: 20px;
    color: #D6D6D6;
}

.footer .copy-right {
    padding: 20px 0;
    color: #D6D6D6;
    width: 100%;
    text-align: center;

}

.testimonials {
    overflow: hidden;
    background-color: #f7fbff;
    padding: 25px 0;
}

.testimonial {
    background-color: #E0EDFB;
    color: #1572D3;
    display: inline-block;
    height: 45px;
    width: 170px;
    text-align: center;
    align-content: center;
    border-radius: 8px;
}

.testimonials .testi-title {
    text-align: center;
    margin: 80px;
    position: relative;
}

.testimonials .testimonials-slider{
    /* padding: 25px; */
}

.testimonials .testi-title h1 {
    margin-top: 30px;
}


.testimonials .testimonials-slider .card {
    width: 800px;
    border-radius: 24px;
    box-shadow: 0px 5px 10px rgba(16, 76, 139, 0.4);
    height: 100%;
    margin: 15px;

}


.testimonials .testimonials-slider .card .rating span {
    font-size: 20px;
}

.testimonials .testimonials-slider .card .row {
    height: 100%;
}

.testimonials .testimonials-slider .card .stars i {
    color: #EFBF14;
}


.testimonials .testimonials-slider .card .para {
    margin: 40px 0;
}

.testimonials .testimonials-slider .card .card-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 25px;
}

.testimonials .testimonials-slider .card .image {
    max-width: 100%;
    height: 100%;
}

.hero-img .container .navbar img {
    width: 153px;
    margin-top: 5px;
}

.testimonials .testimonials-slider .card .image img {
    width: 100%;
    height: 100%;
   border-radius: 24px;
}

.testimonials .testi-title::after {
    content: '';
    display: inline-block;
    background-image: url(/img/commas.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 100px;
    right: 200px;
    z-index: 1;
    transform: scaleX(-1);
}

.testimonials .testi-title::before {
    content: '';
    display: inline-block;
    background-image: url(/img/commas.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    position: absolute;
    left: 210px;
}


/* @media only screen and (max-width: 1681px) {
    .hero-img {
        background-image: url(/img/hero-sec-image.png);
        height: 92vh !important;
        width: 102%;
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 50px;
    }

} */


@media only screen and (max-width: 1440px) {
    .why-choose-us {
        height: 100%;
    }

    /* .hero-img .container .navbar img {
        width: 140px;
        margin-top: 5px;
    } */

    /* .testimonials .testimonials-slider .card {
        height: 350px;
    } */

    .testimonials .testimonials-slider .card .card-body {
        padding: 15px;
        padding-left: 0;
    }

    .testimonials .testi-title::after {
        right: 0;
        bottom: 0;
    }

    .testimonials .testi-title::before {
        left: 0;
    }

    .testimonials .testi-title {
        margin-top: 0;
    }

    .working-steps .working-steps-content .card .work-icon {
        background-color: #E0EDFB;
        color: #1572D3;
        font-size: 50px;
        align-content: center;
        width: 98px;
        height: 98px;
        text-align: center;
    }

    h1 {
        font-size: 30px !important;
    }

    h3 {
        font-size: 26px !important;
    }

    /* .hero-img {
        background-image: url(/img/hero-sec-image.png);
        height: 90vh;
        width: 102%;
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 50px;
    } */

    .hero-section .title {
        width: 550px;
    }
}

@media only screen and (max-width: 1366px) {
    h1 {
        font-size: 30px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    h5 {
        font-size: 16px !important;
    }

    h6 {
        font-size: 14px !important;
    }

    a {
        font-size: 14px !important;
    }

    p {
        font-size: 14px;
    }

    .hero-img .container .navbar img {
        width: 128px;
        margin-top: 4px;
    }

    .hero-section .title {
        width: 500px;
    }

    .brands .brands-slider .brand-img {
        height: 100px;
    }

    .testimonials .testimonials-slider .card {
        height: 100%;
    }

    .testimonials .testimonials-slider .card .para {
        margin: 20px 0;
    }

    .navbar .btn.sign-up {
        font-size: 14px
    }
}


@media only screen and (max-width: 768px) {
    h1 {
        font-size: 20px !important;
    }

    h2 {
        font-size: 18px !important;
    }

    h5 {
        font-size: 14px !important;
    }

    h6 {
        font-size: 12px !important;
    }

    a {
        font-size: 12px !important;
    }

    p {
        font-size: 12px !important;
    }

    .hero-img {
        height: 100%;
        background-size: 400px;
    }

    .hero-section .title {
        width: 100%;
        padding: 15px;
        margin-top: 18px;
    }

    .hero-info {
        margin: 0;
    }

    .hero-info .card {
        margin-top: 50px;
    }

    .hero-info .card .info-content {
        padding: 0;
        border: none;
    }

    .hero-info .card .info-icon {
        margin-right: 10px;
    }

    .hero-info .card .info-icon i {
        font-size: 20px;
    }

    .hero-info .card .search-btn .btn {
        width: 130px;
        height: 40px;
    }

    .hero-info .card .card-body {
        padding: 8px;
    }

    .working-steps .title .hiw {
        font-size: 14px;
        width: 150px;
    }

    .working-steps .title h1 {
        margin: 30px 0 40px;
    }

    .working-steps .working-steps-content .card .work-icon {
        font-size: 34px;
        width: 80px;
        height: 80px;
    }

    .working-steps .working-steps-content .card .card-body {
        width: 100%;
    }

    .why-choose-us {
        background-size: 440px;
        background-position: left center;
    }

    .why-choose-us .title h1 {
        margin: 30px 0;
    }

    .why-choose-us .info .wcu-icon {
        font-size: 20px;
    }

    .popular-rental-deals .card .card-body h6 {
        margin: 10px;
    }

    .popular-rental-deals .card .card-body .card-content {
        margin-top: none;
    }

    .popular-rental-deals .card .card-body .p-btn {
        width: 100%;
    }

    .popular-rental-deals .all-vehicles-btn {
        width: 200px;
        height: 43px;
        font-size: 14px;
        padding: 0;
    }

    .testimonials .testi-title::after {
        height: 150px;
        width: 150px;
        left: 340px;
        top: -120px;
    }

    .testimonials .testi-title::before {
        height: 150px;
        width: 150px;
        left: -63px;
        top: 30px;
    }

    .testimonial {
        width: 145px;
        font-size: 14px;
    }

    .download .downloadBgImg {
        background-size: contain;
        height: 280px;
    }

    .download .download-all-content {
        margin-left: 15px;
    }

    .download .main-div {
        padding: 25px 25px 0;
    }

    .download {
        height: 100%;
    }

    .footer .col img {
        width: 100px;
        margin-bottom: 15px;
    }

    .footer .col:nth-child(5) ul i {
        font-size: 20px;
        gap: 0;
    }

    .footer .col:nth-child(5) ul {
        gap: 15px;
    }

    .footer .col:first-child ul i {
        font-size: 16px;
    }

    .footer .list img {
        width: 120px;
    }

    .navbar .collapse {
        background-color: white;
        border-radius: 10px;
        padding: 25px;
    }

    .navbar .d-flex {
        justify-content: space-evenly;
    }

    .navbar .collapse {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {

    .navbar .btn.sign-up {
        font-size: 12px;
    }

    .navbar .btn.Sign-in {
        font-size: 12px;
    }

    .hero-img {
        background-image: none;
    }

    .hero-section .app-install img {
        max-width: 100px;
    }

    .working-steps .title .hiw {
        font-size: 14px;
        width: 115px;
    }

    h1 {
        font-size: 22px !important;
    }

    h3 {
        font-size: 22px !important;
    }

    .testimonials {
        padding: 15px;
    }

    .testimonials .testimonials-slider .card {
        height: 100%;
    }

    .testimonials .testimonials-slider .card .card-body {
        padding-left: 15px;
    }

    .working-steps .working-steps-content .card .work-icon {
        height: 70px;
        width: 70px;
        font-size: 28px;
    }

    .why-choose-us .title .wcu {
        font-size: 14px;
        width: 135px;
    }

    .why-choose-us {
        background-image: none;
    }

    .popular-rental-deals .prd-title .prd {
        font-size: 14px;
        width: 185px;
    }

    .testimonials .testi-title::before {
        /* height: 150px; */
        /* width: 150px; */
        /* left: -63px; */
        /* top: 30px; */
        height: 100px;
        left: -72px;
        top: 95px;
    }

    .testimonials .testi-title::after {
        /* height: 150px; */
        /* width: 150px; */
        /* left: 340px; */
        /* top: -120px; */
        height: 100px;
        top: -33px;
        left: 110px;

    }

    .download .downloadBgImg {
        background-image: none;
        display: none;
    }

    .download .download-all-content {
        margin-bottom: 20px;
    }

    .download .download-title h1 {
        width: 100%;
    }

    .download .main-div {
        padding: 30px 15px;
    }

    .hero-info .card .card-body {
        padding: 8px;
        flex-wrap: wrap;
        padding: 15px;
        row-gap: 20px;
    }

    .hero-info .card .search-btn .btn {
        width: 100%;
    }

    .hero-info .card .info-content {
        width: auto;
    }

    .hero-info .card .search-btn{
        width: 100%;
    }

    .brands{
        margin: 80px 0;
    }

    .download .download-title .dnld {
        margin-bottom: 20px;
    }

    .footer .list{
        margin-bottom: 20px;
    }
}







/* @media only screen and (max-width: 1280px) {

    .working-steps .working-steps-content .card .work-icon {
        background-color: #E0EDFB;
        color: #1572D3;
        font-size: 42px;
        align-content: center;
        width: 91px;
        height: 91px;
        text-align: center;
    }

    h3{
        font-size: 24px !important;
    }

    .hero-img {
        background-image: url(/img/hero-sec-image.png);
        height: 102vh;
        width: 102%;
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 50px;
    }
} */